# Supabase (replace with real keys)
NEXT_PUBLIC_SUPABASE_URL=https://efotmfasxdrsygdapkuk.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_jrEPM6Ru6UnJmmBzTW9dzA_tQLmperW
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmb3RtZmFzeGRyc3lnZGFwa3VrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMzY5MjksImV4cCI6MjA5MDgxMjkyOX0.sN0aCaWlowe815HXgBY6KqiRTmsOPXAaXMAy6s2FFRk

# Revalidation secret
REVALIDATE_SECRET=your-secret-here

# Site URL
NEXT_PUBLIC_SITE_URL=https://amirvisuals.vercel.app/
